div {
    display:inline-block;
    /* height: 100px;
    width: 100px; */
    border: solid 1px;
    background-color: aqua;
    padding: 5px;
}

p {
    text-align: center;
    vertical-align: middle;
    
}

