section {
    
    display: flex;
    width: 100%;
}

div {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

#a {
    order: 1;
    width: 100%;
    height: 75px;
    background-color: #64418b;
}

#b {
    order: 2;
    width: 100%;
    height: 150px;
    background-color: darkred;
}

#c {
    order: 3;
    width: 100%;
    height: 125px;
    background-color: cyan;
}

#d {
    order: 4;
    width: 100%;
    height: 125px;
    background-color: rgb(255, 0, 0);
}

#e {
    order: 5;
    width: 50%;
    height: 250px;
    background-color: rgb(55, 0, 255);
}

#f {
    order: 6;
    width: 50%;
    height: 250px;
    background-color: gray;
}

#g {
    order: 7;
    width: 50%;
    height: 250px;
    background-color: rgb(255, 0, 212);
}

#h {
    order: 8;
    width: 50%;
    height: 250px;
    background-color: rgb(255, 56, 56);
}

#i {
    order: 8;
    width: 100%;
    height: 80px;
    background-color: rgb(25, 0, 255);
}

/* desk top look */

@media (min-width:960px) {
    
    #a {
        order: 1;
        width: 100%;
        height: 100px;
        background-color: #418b8b;
    }
    #b {
        order: 2;
        width: 20%;
        height: 600px;
        background-color: rgb(5, 139, 0);
    }
    #c {
        order: 3;
        width: 40%;
        height: 200px;
        background-color: cyan;
    }
    #d {
        order: 4;
        width: 40%;
        height: 200px;
        background-color: rgb(255, 0, 140);
    }
    #e {
        order: 5;
        width: 20%;
        height: 250px;
        background-color: rgb(255, 0, 0);
    }
    #f {
        order:6;
        width: 20%;
        height: 250px;
        background-color: rgb(251, 255, 0);
    }
    #g {
        order: 7;
        width: 20%;
        height: 250px;
        background-color: rgb(0, 101, 141);
    }
    #h {
        order: 8;
        width: 20%;
        height: 250px;
        background-color: rgb(0, 255, 242);
    }
    #i {
        order: 9;
        width: 80%;
        height: 250px;
        background-color: rgba(9, 255, 0, 0.329);
    }
}

/* 
@media  (min-width:768px ) and (max-width : 960px){


    section {
        
        width: 100%;
        flex-flow: row wrap;
        
    }
    p {
        text-align: center;
        vertical-align: middle;
        line-height: 130px;
    }

} */

/* desk top look */

/* @media (min-width:960px)
{

    section {
        display: flex;
        width: 100%;
        flex-flow: row wrap;
        
    }
    p {
        text-align: center;
        vertical-align: middle;
        line-height: 130px;
    }
} */

/* tablet view */

/* @media(min-width: 481px) {} */

/* header p {
    float: left;
}

#a {
    width: 100%;
    height: 75px;
    background-color: blueviolet;
    line-height: 80px;
}

#b {
    line-height: 300px;
    width: 100%;
    height: 150px;
    background-color: brown;
}

#c {
    width: 100%;
    height: 125px;
    background-color: cyan;
}

#d {
    width: 100%;
    height: 125px;
    background-color: deepskyblue;
}

#e {
    
    width: 50%;
    height: 250px;
    background-color: fuchsia;
}

#f {
    width: 50%;
    height: 250px;
    background-color: gray;
}

#g {
  
    width: 50%;
    height: 250px;
    background-color: lightslategrey;
}

#h {
    width: 50%;
    height: 250px;
    background-color: lime;
}

#i {
    width: 100%;
    height: 80px;
    background-color: mediumblue;
}

#dd {
    line-height: 80px;
}

#ii {
    line-height: 40px;
}

#bb {
    line-height: 100px;
}

#ss {
    line-height: 200px;
}

@media(min-width: 768px) {
    body {
        width: 100%;
        margin: auto;
      
    }
    
    #a {
        width: 100%;
        height: 100px;
        background-color: sienna;
    }
    #b {
        width: 26%;
        height: 600px;
        background-color: rgb(255, 24, 24);
    }
    #c {
        width: 37%;
        height: 200px;
        background-color: rgba(0, 255, 255, 0.418);
    }
    #d {
        width: 37%;
        height: 200px;
        background-color: rgb(255, 0, 170);
    }
    #e {
        
        width: 18.5%;
        height: 250px;
        background-color: rgb(55, 0, 255);
    }
    #f {
        width: 18.5%;
        height: 250px;
        background-color: rgb(128, 128, 128);
    }
    #g {
        
        width: 18.5%;
        height: 250px;
        background-color: rgba(204, 250, 0, 0.781);
    }
    #h {
        width: 18.5%;
        height: 250px;
        background-color: rgb(34, 0, 226);
    }
    #i {
        width: 74%;
        height: 150px;
        background-color: rgb(9, 192, 168);
    }
    #aa {
        line-height: 80px;
    }
    #bb {
        line-height: 600px;
    }
    #dd {
        line-height: 180px;
    }
    #ii {
        line-height: 140px;
    }
    #ss {
        line-height: 200px;
    }
} */